# OSX
.DS_Store

# ICE dependencies
src/jre*
src/*war
src/*zip
src/*.tar.gz
src/wildfly*
src/ncbi*
src/blast_binaries
src/postgres/open*
src/postgres/postgresql*
src/postgres/libxml*
tmp/
*~

# Cocoapods
Pods

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
Ice.app
IceApp.dmg
